.center {
  margin: auto;
  width: 20%;
  padding: 10px;
}

.centerdiv {
  margin: auto;
  width: 30%;
  padding: 10px;
}

.space {
  width: 4px;
  height: auto;
  display: inline-block;
}

.column {
   width:8em;
   float:left;
   display: grid;
   grid-template-columns: 100px 100px;
   gap: 50px;
}

.element1 {
  display:inline-block;
  margin-right:10px;
}

.element2 {
  display:inline-block;
}

.centerdiv2 {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  font-size: 300%;
  padding: 20px;
}
